{
  "logging": {
    "level": 3
  },
  "network": {
    "ssid": "<SSID>",
    "password": "<WLAN PW>",
    "device": "<some unique device-name>"
  },
  "mqtt": {
    "clientId": "<some unique device-name>",
    "server": "<name of MQTT server>",
    "port": <port of MQTT server>,
    "user": "<MQTT user>",
    "password": "<MQTT password>",
    "aliveIntervalSeconds": <interval to update "lastUpdate" topic>
  },
  "logfile": {
    "name": "<logfilename on sdcard>",
    "maxFiles": 10,
    "maxFileSizeKb": 10240
  } 
}



